.app-section{
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-container{
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  
}

.app-container h3{
  padding: 0;
  margin-top: 20px;
}

.app-container p{
  margin: 0;
  padding: 0;
}

.app-container p textarea{
  width: 100%;
}

.app-container p input{
  width: 100%;
  margin-bottom: 5px;
}

.app-note{
  background-color: rgb(247, 121, 121);
  margin: 5px;
}

.app-note p a{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}